mat-form-field {
    width: 100%;
}

mat-error {
    margin-bottom: 15px;
}

.output {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-top: 16px;
}

.main-card mat-card-header {
    margin-bottom: 15px;
}